@use '../abstracts/variables' as vars;

a {
  font-weight: 500;
  color: vars.$primary-color;
  text-decoration: inherit;
  
  &:hover {
    color: vars.$primary-hover;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} 